/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
}

.app-container {
  width: 480px;
}

a {
  text-decoration: none;
}

/* entity header */

.entity-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #45a049;
}

.back-link {
  margin-right: 10px;
}

.back-link a {
  color: #4caf50;
  text-decoration: none;
  font-weight: bold;
}

.entity-header h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

.entity-header p {
  font-size: 16px;
  margin-top: 5px;
}

.group-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3778c2;
  padding: 20px;
  color: white;
  text-align: centers;
}

.group-container,
.transaction-list {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 10px 20px;
  background-color: white;
  padding: 5px 20px;
}

#groups > a {
  color: black;
}

.group-img {
  width: 100px;
}

/* add new button */

.button-div {
  text-align: center;
  margin-top: 20px;
  padding: 10px 0;
  background-color: #4caf50;
}

.button-div a {
  display: inline-block;
  color: white;
  padding: 10px 30%;
  border: 1px solid white;
  text-decoration: none;
  border-radius: 5px;
}

.button-div a:hover {
  background-color: #45a049;
}

/* form css */
.error-message {
  color: red;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
}

.form-group input[type="text"],
.form-group input[type="file"],
.form-group textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
}

.form-group input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.form-group input[type="submit"]:hover {
  background-color: #45a049;
}

/* Back button */

.back-link {
  text-align: right;
  margin-top: 20px;
}

.back-link a {
  display: inline-block;
  color: #4caf50;
  text-decoration: none;
  font-weight: bold;
}

.back-link a:hover {
  text-decoration: underline;
}
